<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Participação de Treinamento</title>
  <link rel="stylesheet" href="{{reportCSS}}">
  <style>
    .info-group {
      display: flex;
    }

    .info-group p {
      flex: 6;
      margin: 0;
    }

    strong {
      margin-right: 5px;
    }

    .span-spaced {
      margin-left: 5px;
    }

  </style>
</head>
<body>
  <header class="header">
    <h1 class="h1">Registro de Participação em Treinamento</h1>
    <div class="logo">
      <img class="img-logo" src="{{logo}}"/>
    </div>
  </header>
  <table>
    <thead>
      <tr><td><div class="header-space">&nbsp;</div></td></tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{!-- Report content --}}
          <p><strong>Empresa:</strong>{{company}}</p>
          {{#with data}}
          <div class="info-group">
            <p><strong>Data:</strong>{{expectedDate}}</p>
            <p><strong>Local:</strong>{{place}}</p>
          </div>
          <p><strong>Tema:</strong>{{subject}}</p>
          <p><strong>Instrutor:</strong>{{instructor}}</p>
          <p><strong>Carga horária:</strong>{{courseLoadInputed}}<span class="span-spaced">{{courseLoadUnit}}</span></p>
          <table class="table">
            <thead>
              <tr class="table-header">
                <th>Colaborador</th>
                <th>Área</th>
                <th>Cargo</th>
                <th>Assinatura</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody class="table-line">
              {{#each audience}}
                <tr>
                  <td>{{name}}</td>
                  <td>{{area}}</td>
                  <td>{{occupation}}</td>
                  <td></td>
                  <td></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          {{/with}}
          {{!-- End of Report Content --}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr><td><div class="footer-space">&nbsp;</div></td></tr>
    </tfoot>
  </table>
  <footer class="footer">
    <!-- <img class="img-logo" src="http://localhost:21109/iso1-logo.png"/> -->
    <span>Solução em Garantia da Qualidade</span>
    <p>Gerado por {{username}} em {{emissionDate}}</p>
  </footer>
</body>
</html>