<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Crisálida Café</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @page {
      margin: 0px 0px 0px 0px
    }

    body {
      font-size: 0.8rem;
      font-weight: bold;
    }

    .div-header {
      margin: 5px;
    }

    #titulo {
      text-align: center;
    }

    .total {
      text-align: right;
      font-weight: bolder;
    }

    .footer {
      margin-top: 6px;
    }

    .super-total {
      font-size: 1.0rem;
    }

    .separator {
      height: 10px;
    }

    #total {
      font-weight: bolder;
    }

    .produto {
      width: 150px;
      text-align: left;
    }

    .preco {
      text-align: right;
    }
  </style>
</head>

<body>
  <h3 id="titulo">Crisálida</h1>
    <div class="div-header">
      <span>Cliente:</span>
      <span id="nome-cliente">{{customer.name}}</span>
    </div>
    <div class="div-header">
      <span>Telefone:</span>
      <span>{{customer.phone}}</span>
    </div>
    {{#if address}}
    <div class="div-header">
      <span>Endereço:</span>
      <span>{{address}}</span>
    </div>
    {{else}}
    <div class="div-header">
      <span>Retirada pelo cliente</span>
    </div>
    <div class="div-header">
      <span>Horário de retirada:</span>
      <span>{{deliveryTime}}</span>
    </div>
    {{/if}}
    <div class="div-header">
      <span>Forma de pagamento:</span>
      <span>{{paymentMethod}}</span>
    </div>
    {{#if hasPaymentChange}}
    <div class="div-header">
      <span>Troco para:</span>
      <span>{{paymentChange}}</span>
    </div>
    {{/if}}
    <div class="div-header">
      <span>Entrega em:</span>
      <span>{{deliveryDate}}</span>
    </div>
    {{#if comments}}
    <div class="div-header">
      <span>{{comments}}</span>
    </div>
    {{/if}}
    <table>
      <tr>
        <th>Qtd</th>
        <th>Item</th>
        <th>Vl unit.</th>
        <th>Vl total</th>
      </tr>
      <tbody>
        {{#each details}}
        <tr>
          <td>{{qty}}</td>
          <td class="produto">{{product}}</td>
          <td>{{vl}}</td>
          <td>{{total}}</td>
        </tr>
        {{/each}}
      </tbody>
      <tr class="separator"></tr>
      <tr>
        <td class="total" colspan="1">Taxa de entrega:</td>
        <td id="total">{{deliveryTax}}</td>
      </tr>
      <tr>
        <td class="total" colspan="1">Total:</td>
        <td id="total">{{total}}</td>
      </tr>
      <tr>
        <td class="total" colspan="1">Valor pago:</td>
        <td>{{totalPaid}}</td>
      </tr>
      <tr>
        <td class="total super-total" colspan="1">Restante:</td>
        <td class="super-total">{{remainingPayment}}</td>
      </tr>
    </table>
</body>

</html>